<?xml version="1.0"?>
<config>
    <modules>
        <Snenko_Faqs>
            <version>0.1.0</version>
        </Snenko_Faqs>
    </modules>
    <frontend>
        <routers>
            <faqs>
                <use>standard</use>
                <args>
                    <module>Snenko_Faqs</module>
                    <frontName>faqs</frontName>
                </args>
            </faqs>
        </routers>
        <layout>
            <updates>
                <faqs>
                    <file>faqs.xml</file>
                </faqs>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <faqs>
                <class>Snenko_Faqs_Helper</class>
            </faqs>
        </helpers>
        <blocks>
            <faqs>
                <class>Snenko_Faqs_Block</class>
            </faqs>
        </blocks>
        <models>
            <faqs>
                <class>Snenko_Faqs_Model</class>
                <resourceModel>faqs_mysql4</resourceModel>
            </faqs>
            <faqs_mysql4>
                <class>Snenko_Faqs_Model_Mysql4</class>
                <entities>
                    <faqs>
                        <table>faqs</table>
                    </faqs>
                </entities>
            </faqs_mysql4>
        </models>
        <resources>
            <faqs_setup>
                <setup>
                    <module>Snenko_Faqs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </faqs_setup>
            <faqs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </faqs_write>
            <faqs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </faqs_read>
        </resources>
    </global>
    <admin>
        <routers>
            <faqs>
                <use>admin</use>
                <args>
                    <module>Snenko_Faqs</module>
                    <frontName>admin_faqs</frontName>
                </args>
            </faqs>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <faqs module="faqs">
                <title>Faqs</title>
                <sort_order>100</sort_order>
                <children>
                    <faqs module="faqs">
                        <title>Manage Faqs</title>
                        <sort_order>0</sort_order>
                        <action>admin_faqs/adminhtml_faqs</action>
                    </faqs>
                </children>
            </faqs>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <faqs translate="title" module="faqs">
                            <title>Faqs</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <faqs translate="title">
                                    <title>Manage Faqs</title>
                                    <sort_order>0</sort_order>
                                </faqs>
                            </children>
                        </faqs>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <faqs>
                    <file>faqs.xml</file>
                </faqs>
            </updates>
        </layout>
    </adminhtml>
</config> 